<h2>About ME!</h2>
<div fxFlex [style.margin]="'20px'">
    <mat-card [style.min-width]="'200px'">
        <mat-card-content>
            My name is Yuli Kim, but I prefer to called Edes which is my English name.
            <br />I am a CPA student at Seneca College in Computer Programming and Analysis.
            <br />I would like to be full-stack development but I would eventually like to work security side.
            Being a person who has extensive, professional knowledge in programming so that is called a troubleshooter
            among people is my dream.
            <br />
            <br />There is the project I am woking on called 'Alba Place' which is the managemnet system can used by
            small business.
            <br />It has various functions. 
            <br />For example, management empolyees and thier schedul including work history, announcement, management important
            documents, etc.
            <br />I have perience of working at the company as intern for 4 mounts in Korea.
        </mat-card-content>
        <mat-card-actions><button><a href="https://github.com/ykim232"
                    style="text-decoration: none; color: black;">GitHub</a></button></mat-card-actions>
    </mat-card>
</div>