<mat-card>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <h2>Register</h2>
            <mat-error *ngIf="warning">{{warning}}</mat-error><br />
            <mat-form-field class="full-width-input">
                <input matInput placeholder="User Name" name="username" [(ngModel)]="registerUser.userName" required autofocus #username="ngModel">
                <mat-error *ngIf="username.errors?.required">Please provide a valid user name</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="registerUser.password" required #password="ngModel">
                <mat-error *ngIf="password.errors?.required">Please provide a valid password</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput type="password" placeholder="Password" name="password2" [(ngModel)]="registerUser.password2" required #password2="ngModel">
                <mat-error *ngIf="password2.errors?.required">Please provide a valid password</mat-error>
            </mat-form-field><br />
            <button mat-raised-button color="primary" type="submit" [disabled]="loading">
                <mat-icon>account_box</mat-icon>
                <span>&nbsp;&nbsp;&nbsp;Register</span>
            </button><br/>
            <mat-hint *ngIf="loading">Processing Request...</mat-hint>
        </form>
    </mat-card-content>
    <div class="success" *ngIf="success">Registration Successful. Proceed to<br /><br />
        <a mat-raised-button color="accent" routerLink="/login">
            <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
        </a>
    </div>
  </mat-card>